

<div style="margin-right:0px;">
  <h1 style="margin-left: 65%;">Details list</h1> 
    <br>
      <div>
        <table id="customers">
              <thead>
              <th>Name</th>
              <th>Email Id</th>
              <th>Contact No</th>
              </thead>
              <tbody>
              <tr *ngFor="let empdetail of empdetails">
              <td>{{empdetail.empname}}</td>
              <td>{{empdetail.email}}</td>
              <td>{{empdetail.number}}</td>
              </tr>
              </tbody>
              </table>
            </div>
            <br><br><br>
</div>